# -*- coding: utf-8 -*-
# from __future__ import unicode_literals
import logging, os, json, utils, base64

fmt = utils.fmt

config=dict(
	NAME = 'spclient',
	VERSION = '2.7a',    
	URL = ('http://spserver/api',), # urls to spserver api
	AUTH = ('', ''), # tuple with login and password for url
	SAVED_IMAGES = 300, # amount of saved images when no connection to url
	LOGLEVEL = logging.DEBUG,
	HOME_DIR=utils.get_home_dir(),
	CHGSCR_THRESHOLD = 50, # change screen threshold (less - higher sensibility, more - lower sensibility)
	SCR_QUALITY = 30, # quality of jpg (0-100)
	EXCLUDE_CHR='_',
	CERT=False
)
if hasattr(sys, 'frozen'):
    config['SELF_DIR'] = os.path.dirname(sys.executable)
else:
    config['SELF_DIR'] = os.path.dirname(__file__)
    
config['CERT'] = os.path.join(config['SELF_DIR'], 'requests', 'spserver.pem')
    
config['LOG_FILE'] = fmt('{HOME_DIR}{sep}{NAME}{sep}{user}{sep}logs{sep}{EXCLUDE_CHR}{NAME}.log',
                         user=utils.get_user_name(), sep=os.sep, **config)

try:
    custom_config_file = os.path.join(config['SELF_DIR'], 'config.bin')
    if os.path.exists(custom_config_file):
        custom_config = json.loads(base64.b64decode(open(custom_config_file, 'rb').read()))
        config.update(custom_config)
except:
    pass
    
if not os.path.isfile(config['CERT']):
    config['CERT'] = False

