body {
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
	margin: auto;	
    user-select: none;
}

#title {
	color: #000;
	height: 20px;
	left: 50px;
	top: 10px;	
	margin: auto;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
}

#main_display {
	border: 2px solid #C1C1C1;
	color: #C1C1C1;
    margin: auto;
	bottom: 5px;
	left: 50px;
	top: 50px;
	right: 50px;
	padding: 0px;
	position: absolute;
}

#config_bar {
	top: 0px;
	height: 20px;
	left: 0px;
	right: 0px;
	padding: 5px;
	margin: auto;	
    display: flex;
    justify-content: space-between;
}

#config_bar select {    
    width:100%;
}

#display_html {
	overflow: hidden;
	font-weight: bold;
	color: #818181;
	margin: auto;	
	position: absolute;
	top: 30px;
	left: 0px;
	bottom:0px;
	right: 0px;	
}

#playlist {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 180px;
	border-right: 2px solid #C1C1C1;
	position: absolute;	
	text-align: center;
	float: left;
	
}

#player {
	position: absolute;
	padding: 10px;
	left: 200px;
	right: 0px;
	top: 0px;
	bottom: 5px;
}

#player_obj {
	position: absolute;
	padding: 10px;
	top: 0px;
	bottom:40px;
	left: 0px;
	right: 0px;
} 

#playback_form {
	position: absolute;
	padding: 10px;
	left: 5px;
	right: 5px;
	bottom: 0px;  
}

#playback_form  input{	  
    width:100%;
    height:20px;
    color: #000;
}

#playlist span {
	cursor: pointer;
	margin: auto;
}

#playlist span:hover {
	background-color: #505050;
}


#main_display .playlist_hlight {
	background-color: #000000;
}
